<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/khot.css">

    <!-- 외부 아이콘 -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">

    <!-- 제이쿼리 CDN -->
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

    <script defer src="../static/js/khot.js"></script>
    <title>DELI</title>
</head>

<body>
    <header>
        <nav class="nav">
            <div class="nav_left">
                <a href="/index">
                    <h1>DELI</h1>
                </a>
            </div>
            <!-- 프로필 -->
            <div class="nav_right">
                <div class="nav_img">
                    <a href="./profile.html"><img src="../static/assets/image/profile3.png" alt="프로필사진"></a>
                </div>
                <div class="nav_icon">
                    <i class="xi-user-o"></i>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="khot_wrap">
            <div id="l_container" class="khot_container">
                <div class="list_title">
                    <h4 id="l_title">🔥 K-POP HOT LIST 🔥</h4>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <ul>
            <li><a href="/index"><i class="xi-home"></i></a></li>
            <li><a href="./khot.html"><i class="xi-headset"></i></a></li>
            <li><a href="./search.html"><i class="xi-search"></i></a></li>
            <li><a href="./profile.html"><i class="xi-emoticon-cool-o"></i></a></li>
        </ul>
    </footer>
</body>

</html>