<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    
    <style>
        .list_content {
            font-size: 16px;
            word-break: keep-all;
            font-family: 'Permanent Marker', 'Hahmlet', cursive;
            color: #fff;
            box-sizing: border-box;
            display: flex;
            flex-flow: row;
            justify-content: center;
            width: 90%;
            position: relative;
            margin-bottom: 10px;
        }
    </style>

    <script>
        $(document).ready(function () {
        const el = document.createElement('div');
        document.body.appendChild(el);

            eruda.init({
                container: el,
                tool: ['console', 'network', 'elements'],
                useShadowDom: true,
                autoScale: true,
                defaults: {
                    displaySize: 50,
                    transparency: 0.9,
                    theme: 'Monokai Pro'
                }
            });
        })
        
        function musiccard (data) {
            let author = data.author
            let authorid = data.authorid
            let thumbnail = data.thumbnail
            let title = data.title
            let vid = data.vid
            
            let card = `<div class="list_content">
                            <div class="list_img">
                                <img src="${thumbnail}" alt="">
                            </div>
                            <div class="list_info">
                                <p>${title}</p>
                                <p>${author}</p>
                            </div>
                        </div>`
            
             $("#list").append(card)
        }
        
        function sleep(ms) {
          const wakeUpTime = Date.now() + ms;
          while (Date.now() < wakeUpTime) {}
        }
        
        function getvideodata(id) {         
            var vid = id

            fetch("https://images" + ~~(Math.random() * 33) + "-focus-opensocial.googleusercontent.com/gadgets/proxy?container=none&url=" + encodeURIComponent("https://www.youtube.com/watch?hl=en&v=" + vid)).then(response => {
                if (response.ok) {
                    response.text().then(data => {

                        var regex = /(?:ytplayer\.config\s*=\s*|ytInitialPlayerResponse\s?=\s?)(.+?)(?:;var|;\(function|\)?;\s*if|;\s*if|;\s*ytplayer\.|;\s*<\/script)/gmsu;

                        data = data.split('window.getPageData')[0];
                        data = data.replace('ytInitialPlayerResponse = null', '');
                        data = data.replace('ytInitialPlayerResponse=window.ytInitialPlayerResponse', '');
                        data = data.replace('ytplayer.config={args:{raw_player_response:ytInitialPlayerResponse}};', '');


                        var matches = regex.exec(data);
                        var data = matches && matches.length > 1 ? JSON.parse(matches[1]) : false;
                        console.log(data)
                        return data;
                    })
                }
            });
        }
        
       async function khit() {
            $.ajax({
                type: "GET",
                url:"/api/list/k-hit",
                success: function (res) {
                    for (let i = 0; i < res.length; i++) {
                            var vid = res[i]
                            $.ajax({
                                type: "POST",
                                url:"/api/musicinfo",
                                data:{
                                    "id":vid
                                },
                                success: function (res) {
                                    musiccard(res)
                                }
                            })
                        sleep(25)
                    }
                }
            })            
        }
        
        async function ktop100() {
            $.ajax({
                type: "GET",
                url:"/api/top100",
                success: function (res) {
                    res.forEach(function(id) {
                             $.ajax({
                                type: "POST",
                                url:"/api/musicinfo",
                                data:{
                                    "id":id
                                },
                                success: function (res) {
                                    console.log(res)
                                }
                            })
                        sleep(25)
                    })
                }
            })
        }
        
        function getchannelvideos(channel) {
            console.log("Getting All Videos For This Channel...")
            $.ajax({
                type: "POST",
                url:"/api/channel/getvideos",
                data:{
                    "channel":channel
                },
                success: function (response) {
                    console.log(response)
                    console.log("Successfully All Videos For This Channel")
                    return response
                }
            })
        }

        function ytstream(id) {
            //사용불능
            $.ajax({
                type: "GET",
                url:"http://ytapi.gitnol.com/get.php?id="+id,
                success: function (response) {
                    console.log(response)
                }
            })
        }

        nw=function(a)
        //사용불능
        {
          a=a.split("");
          mw.p7(a,34);mw.qM(a,13);
          mw.UX(a,3);mw.p7(a,44);
          mw.qM(a,69);mw.UX(a,2);
          mw.qM(a,58);mw.p7(a,24);
          mw.UX(a,1);
          console.log(a.join(""))
          return a.join("")
        };

        var mw=
            //사용불능
        {
            p7:function(a)
            {
              a.reverse()
            },
            UX:function(a,b)
            {
              a.splice(0,b)
            },
            qM:function(a,b)
            {
              var c=a[0];
              a[0]=a[b%a.length];
              a[b%a.length]=c
            }
        };

        function bz(a) {
            //사용불능 (구버전)
            a = a.split("");
            a = cz(a, 61);
            a = cz(a, 5);
            a = a.reverse();
            a = a.slice(2);
            a = cz(a, 69);
            a = a.slice(2);
            a = a.reverse();
            a = a.join("");
            a = a.toString()
            a = a.split("url=")[1]
            a = unescape(a)
            a = a.replaceAll("%2C", ",")
            console.log(a)
            return a
        }

        function cz(a, b) {
            var c = a[0];
            a[0] = a[b % a.length];
            a[b] = c;
            return a
        };
        function search() {
            let keyword = document.getElementById("keyword").value
            $.ajax({
                type: "POST",
                url: "/api/search",
                data: {
                    "keyword": keyword
                },
                success: function (response) {
                    console.log(response)
                }
            })
        }

        function requestCC(id) {
            try {
                $.ajax({
                    type: "POST",
                    url: "/api/lyrcis",
                    data: {
                        "video_id": id
                    },
                    success: function (response) {
                        $("#CC").empty()
                        response.forEach(function (lyrcis) {
                            let lyr = `<li>${lyrcis.text}</li>`
                            $("#CC").append(lyr)
                        })
                    },
                    error: function (response) {
                        $("#CC").empty()
                        let lyr = `<li>등록된 가사가 없습니다.</li>`
                        $("#CC").append(lyr)
                    }
                })
            } catch (err) {
                $("#CC").empty()
                let lyr = `<li>등록된 가사가 없습니다.</li>`
                $("#CC").append(lyr)
            }
        }

        function newgetsong(id) {
            let audio_tag = document.getElementById('youtube');
            let video_tag = document.getElementById('youtubevideo');
            let vid = id
            console.log("Loading...")
            $.ajax({
                type: "POST",
                url: "/api/music/get_secure_music",
                data: {
                    "url" : vid
                },
                success: function (response) {
                    console.log("LoadComplete")                                    
                    audio_tag.src = response;
                    audio_tag.play()
                    video_tag.src = "https://www.youtube.com/embed/"+vid
                    return response
                }
            })
        }

        let playingdata
        function youtube(id) {         
            var vid = id,
                audio_streams = {},
                audio_tag = document.getElementById('youtube');
                video_tag = document.getElementById('youtubevideo');

            fetch("https://images" + ~~(Math.random() * 33) + "-focus-opensocial.googleusercontent.com/gadgets/proxy?container=none&url=" + encodeURIComponent("https://www.youtube.com/watch?hl=en&v=" + vid)).then(response => {
                if (response.ok) {
                    response.text().then(data => {

                        var regex = /(?:ytplayer\.config\s*=\s*|ytInitialPlayerResponse\s?=\s?)(.+?)(?:;var|;\(function|\)?;\s*if|;\s*if|;\s*ytplayer\.|;\s*<\/script)/gmsu;

                        data = data.split('window.getPageData')[0];
                        data = data.replace('ytInitialPlayerResponse = null', '');
                        data = data.replace('ytInitialPlayerResponse=window.ytInitialPlayerResponse', '');
                        data = data.replace('ytplayer.config={args:{raw_player_response:ytInitialPlayerResponse}};', '');


                        var matches = regex.exec(data);
                        var data = matches && matches.length > 1 ? JSON.parse(matches[1]) : false;

                        playingdata = data;
                        console.log(playingdata)
                        try {
                            document.getElementById("title").innerText = playingdata.videoDetails.title
                        } catch (err) {
                            alert("해당 아이디의 유튜브 영상은 존재하지 않습니다.\n유튜브 아이디를 확인해주세요.")
                        }

                        var streams = [],
                            result = {};

                        if (data.streamingData) {

                            if (data.streamingData.adaptiveFormats) {
                                streams = streams.concat(data.streamingData.adaptiveFormats);
                            }

                            if (data.streamingData.formats) {
                                streams = streams.concat(data.streamingData.formats);
                            }

                        } else {
                            return false;
                        }

                        streams.forEach(function (stream, n) {
                            var itag = stream.itag * 1,
                                quality = false;
                            console.log(itag)
                            console.log(stream);
                            switch (itag) {
                                case 18:
                                    quality = "380P";
                                    break;
                                case 139:
                                    quality = "48kbps";
                                    break;
                                case 140:
                                    quality = "128kbps";
                                    break;
                                case 141:
                                    quality = "256kbps";
                                    break;
                                case 249:
                                    quality = "webm_l";
                                    break;
                                case 250:
                                    quality = "webm_m";
                                    break;
                                case 251:
                                    quality = "webm_h";
                                    break;
                            }
                            if (quality) audio_streams[quality] = stream.url;
                        });

                        console.log(audio_streams);
                        video_tag.src = "https://www.youtube.com/embed/"+vid
                        audio_tag.src = audio_streams['256kbps'] || audio_streams['128kbps'] || audio_streams['48kbps'] || newgetsong(vid);                       
                        audio_tag.play();
                        requestCC(vid);
                    })
                }
            });
        }
    </script>
    <script>
        var youtube= document.getElementById('youtube')
        var dur= document.getElementById('dur')
        function mDur(){dur.max= youtube.duration}
        function mPlay(){dur.value= youtube.currentTime}
        function mSet(){aud.currentTime= youtube.value}
    </script>
</head>

<body>
    <label> Now Playing </label>
    <label id="title"></label>
    <audio id="youtube" autoplay controls loop preload="metadata" onloadedmetadata="mDur()" ontimeupdate="mPlay()"></audio>
    <input id="dur" type="range" name="rng" min="0" step="0.25" value="0" onchange="mSet()" style="width: 248px">
    <iframe id="youtubevideo" width="560" height="315" src="https://www.youtube.com/embed/r3FFOl-LAM8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <input placeholder="검색어를 입력하세요." id="keyword"/>
    <button onclick="search()">검색하기</button>
    <input placeholder="동영상용 아이디를 입력하세요." id="videoid"/>
    <button onclick="youtube(document.getElementById('videoid').value)">재생하기</button>
    
    <ul id="CC">

    </ul>
    
    <div id="list">
    </div>
</body>
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.16.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.16.0/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyCAPx_GfSFjGtWo08nuaPEd0RmWL-ar_-Y",
      authDomain: "dely-music.firebaseapp.com",
      projectId: "dely-music",
      storageBucket: "dely-music.appspot.com",
      messagingSenderId: "247613470910",
      appId: "1:247613470910:web:d570f395749ef1da95c6ef",
      measurementId: "G-2J7WX0YP24"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
</script>

</html>
